.contentWrapper {
  padding-inline: calc(var(--content-padding-inline) - 0.5rem);
  padding-block: var(--content-padding-block);
  column-count: auto;
  column-width: 15rem;
  /* column-gap: .5rem; */
  column-fill: balance;
  & > section {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    break-inside: avoid;
  }
  background-color: var(--color-surface-base);

  /* performance */
  contain: content;
  & > section, & > form {
    contain: content;
  }
}