.main {
 margin-block: var(--gap, 1rem);
 display: grid;
 gap: var(--gap, 1rem);
 section {}
 &>:is(.intro, .content) {
  padding: var(--content-padding-block) var(--content-padding-inline);
 }
}

.intro {
 padding-block: var(--gap, 1rem);
 &>*+* {
    padding-block: calc(var(--gap, 1rem) * .25);
}
}

.content {
    background-color: var(--color-surface-base);
    padding-bottom: 5rem; 
}