.cardList {
  display: grid;
  gap: var(--flow-space);
  list-style: none;
  width: 100%;
}

.card {
  padding: 0.75em 1em;
  border-radius: 0.5em;
  width: 100%;
  background: var(--color-card-bg, #f4f4f4);
  filter: var(--drop-shadow-narrow);

  &.lifted {
    background: var(--color-card-lifted-bg, #ffffff);
    filter: var(--drop-shadow-lifted);
  }

  &.placeholder {
    opacity: 0.3;
    outline: var(--outline);
    outline-offset: 0.05em;
  }
}
