:root {
  /* font-sizes */
  --fs-small: 0.95rem;
  --fs-regular: 1rem;
  --fs-h4: 0.75rem;
  --fs-h3: 0.8rem;
  --fs-h2: 1.5rem;
  --fs-h1: 2.5rem;

  /* SPACING and SIZING */

  
  --min-click-target-size: 44px;
  --gap: 1.5rem;
  --flow-space: .5rem;
  --outline: 0.1875rem;
  --button-border-radius: 0.5rem;
  --card-border-radius: 0.5rem;

  /* Global layout spacing */
  --content-area-width: min(80rem, 100%);
  --side-margin-width: calc((100% - var(--content-area-width)) / 2);
  --content-padding-inline: min(40px, 4.5vw);
  --content-padding-block: min(40px);
}

/* 
    COLOR THEME
*/

:root {
  /* COLOR THEME */

  /* theme colors */
  --color-primary: oklch(0.76 0.19 127);

  --color-secondary-100: oklch(0.999 0.1 595);
  --color-secondary-200: oklch(0.99 0.1 595);
  --color-secondary-500: oklch(0.5 0.1 595);
  --color-secondary-600: oklch(0.42 0.14 595);
  --color-secondary-700: oklch(0.36 0.14 595);

  --color-accent: oklch(0.76 0.15 86.2);

  /* neutrals */
  --color-neutral-100: oklch(0.97 0.03 30);
  --color-neutral-200: oklch(0.94 0.03 30);
  --color-neutral-500: oklch(0.5 0.03 30);
  --color-neutral-600: oklch(0.42 0.03 30);
  --color-neutral-700: oklch(0.36 0.03 30);
  --color-neutral-900: oklch(0.2 0.03 30);

  --color-navlink-currentXXX: oklch(
    from var(--color-heading) calc(l - 0.17) c h / 1
  );

  --color-surface-body: oklch(0.95 0.02 20);
  --color-surface-base: oklch(0.9 0.02 27);
  --color-surface-elevated: oklch(0.985 0.02 10);
  --color-surface-front: oklch(0.999 0.02 10);

  /* base outline */
  --color-focus-outline: oklch(0.6 0.45  595);
  --outline: .15em dashed var(--color-focus-outline);

  /* Backgrounds */
  --color-bg: var(--color-surface-body);
  --color-card-bg: var(--color-surface-elevated, #f4f4f4);
  --color-card-lifted-bg: var(--color-surface-front, #ffffff);

  /* filter: Shadows */
  --drop-shadow-narrow: drop-shadow(
    1px 3px 1px rgba(0, 0, 0, 0.1)
  );
  --drop-shadow-lifted: drop-shadow(
    1px 3px 4px rgba(0, 0, 0, 0.18)
  );

   --card-bg-clr-elevated: oklch(
    from var(--color-surface-base) calc(l - 0.05) c h / 1
  );

  /* Text - base colors */
  --color-text-light: var(--color-neutral-500);
  --color-text-medium: var(--color-neutral-600);
  --color-text-dark: var(--color-neutral-700);
  --color-text-black: var(--color-neutral-700);

  /* SVG icons */
  --fill-brown: rgb(134, 118, 102);
  --fill-brown-shadow: rgb(126, 101, 101);
  --fill-green: rgb(154, 198, 77);
  --fill-skin: rgb(241, 188, 171);
  --fill-skin-shadow: #dbada2;
  --fill-yellow: #fecd57;
  --fill-blue-sky: rgb(137, 220, 231);
  --fill-blue-muted: rgb(179, 212, 217);

  /* Modal */
  --color-backdrop: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-text);
    --color-text: var(--color-bg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-contrast: more) {
  .contrast {
    outline: 2px solid black;
  }
}

/* 
    RESET & BASE STYLES
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  line-height: 1.5; /* wcag */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.global-container {
  min-height: 100svh;
  display: grid;
}

/* responsive images/videos */
img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

/* svg animation and transforms */
svg {
  transform-origin: 50% 50%;
}

svg * {
  transform-box: fill-box;
}

/* transform to height: auto in supported browsers */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* better text wrapping  */
:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  hyphens: manual;
}

p,
li,
figcaption {
  text-wrap: pretty;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 55ch;
}

/* 
  hyphens: manual -  insert soft hyphen character: &shy
  https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
*/

a,
input,
button,
select,
option {
  cursor: pointer;
}

/* remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* remove default form styles */
input,
select,
textarea,
button,
fieldset {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

/* 
    BASE STYLING 
*/

body {
  color: var(--color-text-light);
  font-size: var(--fs-regular);
  background: var(--color-bg);
  font-family: var(--font-base);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, legend) {
  line-height: 1.1;
}

h1 {
  font-family: var(--font-logo);
  font-size: var(--fs-h1);
  color: var(--color-text-light);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
  color: var(--color-text-light);
  font-weight: 900;
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--fs-h3);
  color: var(--color-text-medium);
  font-weight: 700;
}

h4,
legend {
  font-family: var(--font-3);
  font-size: var(--fs-h4);
  color: var(--color-heading);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
  max-width: 100%;
  width: 100%;
}

/* 
  PAGE TRANSITIONS
*/

/* keep the page clickable during transitions */
::view-transition {
  pointer-events: none;
}

::view-transition-group(*) {
  animation-duration: .27s;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*) {
    animation-duration: 0;
  }
}

/* 
  INTERACTIONS / UTILITY CLASSES
*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  position: relative;
  outline: var(--outline);
  z-index: 2000;
}