/* 
    RESET 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */
body {
  min-height: 100svh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

svg {
  transform-origin: 50% 50%;
}

svg * {
  transform-box: fill-box;
}

/* make headings wrap better */
:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  hyphens: manual;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
  hyphens: manual;
}

/* 
hyphens: manual -  insert soft hyphen character: &shy
https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
*/

a, input, button, select, option {
  cursor: pointer;
}

/* performance enhancements */
section, article, footer {
  contain: content;
  content-visibility: auto;
  contain-intrinsic-size: auto var(--intrrinsic-size, 80swh);
}

/* 
    GLOBAL VARIABLES 
*/

:root {

  /* FONTS */

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  --font-heading: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  /* font-sizes */
  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.25rem;
  --fs-xlarge: 1.5rem;

/* SPACING and SIZING */

--flow-space: 1rem;
--min-click-target-size: 44px;
--gap: 1rem;
--button-border-radius: .5rem;


  /* COLOR */

  /* Base colors */
  --color-primary: #9ED36A;
  --color-secondary: #65558F;
  --color-accent: #FECD57;
  /* --color-inverse */

  /* Backgrounds */
  --color-bg: #D6D6D6;
  --color-surface: #f9f9f9;
  --color-surface-secondary:rgb(207, 202, 221);

    /* Text */
  --color-text: #1a1a1a;
  --color-text-muted: #666666;
  --color-heading: #004072;

  /* Specifics */
  --color-header: var(--color-primary);
  --color-main: inherit;

  --color-navlink: var(--color-text);
  --color-navlink-current: var(--color-text-muted);


@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-text);
    --color-text: var(--color-bg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* 
    BASE STYLING 
*/

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-large);
  color: var(--color-heading);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-xlarge);
  color: var(--color-heading);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--fs-large);
  color: var(--color-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
	display: block;
	width: 100%;
	margin: 0 0 0.5em;
}

label {
  display: flex;
  gap: var(--gap);
  align-items: center
}

input[type="radio"]{
  width: min-content;
  display: flex;
  justify-self: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
	max-width: 100%;
	width: 100%;
}



/* 
  LAYOUT 
*/

.global-container {
  min-height: 100svh;
  display: grid;
}

.card-container > * {
  padding: clamp(.75rem, 3%, 2rem);
  /* prevent overflow */
  word-break: break-word;
}

/* 
  INTERACTIONS / UTILITY CLASSES
*/

.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*  tab-focus-visible class for keyboard-only links/skip links 
    from: https://a11y-blog.dev/en/articles/understanding-a-skip-link/
*/
.tab-focus-visible {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  /* Show keyboard focus */
  &:focus-visible {
    transform: translateY(0%);
  }
}