.page {
    grid-template-rows: [header-start] auto [header-end menu-start] auto [menu-end rest-start]  1fr [rest-end];

    --content-area-w: min(75rem, 100%);
    --side-margin-w: calc((100% - var(--content-area-w)) /2);
    --content-padding-w: 3svw;

    grid-template-columns:
    [vw-start] 
        var(--side-margin-w) 
            [content-start]
                1fr
            [content-end] 
        var(--side-margin-w) 
    [vw-end];

    grid-template-collumns: grid-template-columns: var(--g-columns);

    /* Colors */
    --filtered-plants-bg:rgb(241, 241, 241);

    /* Transitions, animation timing */
    --menu_open: .4s;
    --menu_close: calc(var(--ts__nav_open) * 0.66);
}

.page>.header {
    grid-row: header;
    grid-column: vw;
    display: grid;
    z-index: 20;
    min-height: 5rem;
    padding-inline: calc(var(--side-margin-w) + var(--content-padding-w));
}

.page>.navToggleMenu {
    grid-row: menu;
    grid-column: vw;
    z-index: 10;
}

.page>.main {
    grid-row: header-end / rest-end;
    grid-column: content;
    display: grid;
    grid-template-columns: 
        [full-width-start] 
            var(--content-padding-w)
                [inner-content-start]
                    1fr
                [inner-content-end] 
            var(--content-padding-w) 
        [full-width-end];
}

.page>.main>*{
    grid-column: inner-content;
}

.page>.main>.fullWidth{
    grid-column: full-width;
}

.main h2 {
    --padding-top: calc(var(--content-padding-w) * 1.5);
    padding-block: var(--padding-top) var(--content-padding-w);
}

.header {
    --header-height: 7rem;
    /* height: var(--header-height); */
    background-color: var(--color-header, #9ED36A);
    display: grid;
    min-height: 5rem;
    padding-inline: 2rem;
}

.header:is(.navmenu) {
    font-size: var(--fs-600);
}

.headerContentContainer {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.navmenu li {
  list-style: none;
}

.navmenu a {
    color: var(--color-navlink);
}

.navmenu a[aria-current="page"]  {
    color: var(--color-navlink-current);
}

.navmenu.desktop {
    margin-inline-start: auto;
}

.navmenu.desktop ul {
    display: flex;
    gap: var(--gap);
}

@media (max-width: 600px) {
    .navmenu.desktop {
        display: none;
    }
}

@media (min-width: 601px) {
    .navToggleButton, .navToggleMenu {
        display: none;
    }
}


/* HAMBURGER - NavToggleButton */

.navToggleButton {
    height: max(4em, var(--min-click-target-size));
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--button-border-radius);
    border-radius: 50%;
    margin-inline-start: auto;
    border: none;
}

.navToggleIcon {
    width: 2.6em;
    height: 2.6em;
    margin: 0 auto;
    stroke-width: .5em;
    stroke-linecap: round;
    stroke: currentColor;
    fill: none;
    stroke: var(--color-icon, #333);
    transition: var(--hover-transition);
}

/* "HAMBURGER"-icon to "CLOSE"-icon transition */

.navToggleIcon path {
    transition: .3s ease-in;
    transform-origin: 50% 50%;
    opacity: 1;
}

.navToggleButton[aria-expanded="true"] path:nth-of-type(1) {
    transform:translateY(20%);
    scale:0% 0%;
    opacity: 0;
}

.navToggleButton[aria-expanded="true"] path:nth-of-type(2) {
    transform:rotate(45deg)
}

.navToggleButton[aria-expanded="true"] path:nth-of-type(3) {
    transform:rotate(-45deg)
}

.navToggleButton[aria-expanded="true"] path:nth-of-type(4) {
    transform:translateY(-20%);
    scale:0% 0%;
    opacity: 0;
}

.navToggleMenu {
    width: 100%;
    background: yellow;
    padding: 2rem;
}

/* close nav-menu */
.navToggleMenu {
    transform: translateY(-100%);
    transition-duration: var(--menu_close, .4s);
    transition-timing-function: ease-in;
}

/* open nav-menu */
.page:has(.navToggleButton[aria-expanded="true"]) .navToggleMenu {
    transform: translateY(0%);
    transition-duration: var(--menu_open, .4s);
    transition-timing-function: ease-out;
} 