.cardWrapper {
  --list-item-height: 2rem;
  --num-list-items: 1; /* fallback/default */
  margin-bottom: 1rem;
}

/* 
TODO: remember vars:

--plant-card-bg
--plant-card-bg-hover
--plant-card-bg-hover
*/

.card {
  cursor: pointer;
  width: 100%;
  display: block;
  background: var(--plant-card-bg, #f7f7f7);
  border-radius: 12px;
  padding: 1rem;
  transition: background 0.2s ease, transform 0.2s ease;
}

.card:is(:hover,:focus-visible),
.card[aria-expanded="true"] {
  background: var(--plant-card-bg-hover, rgb(239, 239, 255));
  transform: scale(1.01);
  outline-offset: -.2rem;
  outline: var(--plant-card-bg, #f7f7f7) auto .2rem;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconWrapper {
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.title {
  margin: 0;
  font-size: 1.2rem;
}

.varietyCount {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

/* Expandable list of plants */

.varietyList {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.varietyItem {
  height: var(--list-item-height);
	align-content: center;
}

/* Expandable list: open/close transition */

.varietyList {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.7s ease;
}

.varietyList[data-expanded="true"] {
  opacity: 1;
  max-height:  calc(var(--list-item-height) * var(--num-list-items));
  overflow: auto;
}