/* functional css */
.sortableList {
  position: relative;
  & [draggable="true"] {
    cursor: ns-resize;
  }
}

.sortableItem {
  position: relative;
  z-index: 1;
}

.dragPreview {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000;
  translate: 0 0;
  animation: dragStart 0.25s ease forwards;
}

@keyframes dragStart {
  100% {
    translate: 0.15em 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .onDrag {
    .sortableItem {
      view-transition-name: none;
    }
    .dragPreview {
      view-transition-name: none;
      animation: none;
    }
  }
}